[submodule "webroot/bootstrap"]
	path = webroot/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "webroot/select2"]
	path = webroot/select2
	url = https://github.com/ivaynberg/select2.git
[submodule "webroot/bootswatch"]
	path = webroot/bootswatch
	url = https://github.com/thomaspark/bootswatch.git
[submodule "webroot/bootstrap-datepicker"]
	path = webroot/bootstrap-datepicker
	url = https://github.com/eternicode/bootstrap-datepicker.git
